body{
    font-family: "Playfair Display";
}



.sidebarContainer{
    min-height: 100vh;
    background-color: rgb(249, 249, 249, 0.7);
}

.sidebarContainer .link{
    transition: all 0.3s;
}

.sidebarContainer .link:hover{
    color: rgba(0, 0, 255, 0.589);
}


.homeSection{
    height: 100vh;
    
}









/* تصميم الخط الزمني */
.timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
  }
  
  /* الخط الرأسي */
  .timeline::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #e6e6e6;
  }
  
  /* تصميم كل عنصر */
  .timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
  }
  
  /* أيقونة دائرية */
  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    position: relative;
    z-index: 1;
    margin-right: 20px;
  }
  
  /* المربعات النصية */
  .content {
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin: 0;
    font-size: 16px;
  }
  
  p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #777;
  }
  